<ion-card>
  <div class="register-card">
    <div class="topbar">TOPBAR</div>
    <div class="form">
      <h3>Cadastro</h3>
      <form action="#" method="post">
        <div class="ipt-field">
          <label for="ipt-nome">Nome</label>
          <input type="text" name="nome" id="ipt-nome" />
        </div>
        <div class="ipt-field">
          <label for="ipt-funcao">Função</label>
          <input type="text" name="funcao" id="ipt-funcao" />
        </div>
        <div class="ipt-field">
          <label for="ipt-email">Email</label>
          <input type="text" name="email" id="ipt-email" />
        </div>
        <div class="ipt-field">
          <label for="ipt-senha">Senha</label>
          <input type="password" name="senha" id="ipt-senha" />
        </div>
        <div class="ipt-field">
          <label for="ipt-confirmar-senha">Confirmar senha</label>
          <input
            type="password"
            name="confirmar-senha"
            id="ipt-confirmar-senha"
          />
        </div>
        <button>Cancelar</button>
        <button type="submit">Cadastrar</button>
      </form>
    </div>
  </div>
</ion-card>
