.register-title {
  font-size: 48px;
  text-align: center;
  margin: 16px;
}

.register-card {
  
  height: 100%;
  .form {
    display: flex;
    justify-content: center;
    align-items: center;

    .ipt-field {
      display: flex;
      justify-content: space-between !important;
      margin: 16px 0;

      label {
        font-size: 16px;
        margin-right: 8px;
      }

      input {
        width: 75%;
        padding: 12px;
        margin-left: auto;
        border-radius: 8px;
        
        border: 1px solid var(--ion-color-dark-shade);
        
        &:focus {
          border: 1px solid var(dark);
        }
      }
    }

    .btn-controls {
      display: flex;
      justify-content: space-between;
      padding: 16px;

      .btn-form {
        width: 40%;
        height: 40px;
      }
    }
  }
}
