<ion-card>
  <ion-card-title class="register-title">Cadastro</ion-card-title>
  <ion-card-content class="register-card">
    <ion-grid>
      <ion-row size="12" class="form">
        <ion-col sizeXs="10" sizeSm="8" sizeMd="6">
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <ion-item class="ipt-field">
              <label for="ipt-nome">Nome <ion-text color="danger">*</ion-text></label>
              <input required formControlName="name" type="text" name="nome" (value)="(newUser.name)" />
            </ion-item>
  
            <ion-item class="ipt-field">
              <label for="ipt-funcao">Função <ion-text color="danger">*</ion-text></label>
              <input required formControlName="role" type="text" name="funcao" (value)="(newUser.role)" />
            </ion-item>
  
            <ion-item class="ipt-field">
              <label>E-Mail <ion-text color="danger">*</ion-text></label>
              <input required formControlName="email" type="text">
            </ion-item>
            <ion-item *ngIf="registerForm.get('email').invalid && registerForm.get('email').touched" lines="none">
              <ion-text color="danger" class="form-error">
                Por favor insira um endereço de email válido.
              </ion-text>
            </ion-item>
  
            <ion-item class="ipt-field">
              <label>Senha <ion-text color="danger">*</ion-text></label>
              <input required formControlName="password" type="password">
            </ion-item>
            <ion-item *ngIf="registerForm.get('password').invalid && registerForm.get('password').touched" lines="none">
              <ion-text color="danger" class="form-error">
                Por favor insira uma senha válida.
              </ion-text>
            </ion-item>
  
            <ion-item class="ipt-field">
              <label for="ipt-confirmar-senha">Confirmar senha <ion-text color="danger">*</ion-text></label>
              <input type="password" formControlName="confirmPassword" name="confirmar-senha" />
            </ion-item>
            <ion-item *ngIf="registerForm.get('confirmPassword').invalid && registerForm.get('confirmPassword').touched" lines="none">
              <ion-text color="danger" class="form-error">
                As senhas não coincidem.
              </ion-text>
            </ion-item>
  
            <div class="btn-controls">
              <ion-button class="btn-form" color="light" routerLink="/">Cancelar</ion-button>
              <ion-button class="btn-form" block color="primary" type="submit" [disabled]="registerForm.invalid">
                Cadastrar
              </ion-button>
            </div>
          </form>
          <!-- <form action="#" method="post">
          </form> -->
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
