.register-card {
  // background-color: aqua;
  .form {
    display: flex;
    justify-content: center;
    align-items: center;

    .ipt-field {
      display: flex;
      flex-direction: column;
      margin: 16px 8px;
      input {
        width: 50%;
        padding: 8px;
        border-radius: 4px;
      }
    }
  }
}
